@charset "ISO-8859-1";

.content {
	float: left;
	display: table-cell;
	margin-right: 10px
}

.img_item {
	float: left;
	width: 45%;
	float: left;
}

.info_item {
	float: left;
	width: 55%;
	float: left;
}

.item {
	width: 18rem;
	float: left;
	margin: 10px;
	width: 350px;
	height: 200px
}

.img_student {
	height: 120px;
	display: block;
	margin-top: 10px;
}

.a {
	font-size: 15px;
}

.contentx {
	min-height: 1000px;
	padding-left: 17px
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
}
